.numberLock {
    background-color:rgb(22, 22, 22);
    height:50px;
    width:50px;
    border-radius:5px;
    text-align:center;
    color:rgb(167, 167, 167);
    font-size:45px;
}
.numberWrong {
    background-color:rgb(136, 0, 0);
    height:50px;
    width:50px;
    border-radius:5px;
    text-align:center;
    color:rgb(255, 255, 255);
    font-size:45px;
}
.numberWrite {
    background-color:rgb(34, 34, 34);
    height:50px;
    width:50px;
    border-radius:5px;
    text-align:center;
    color:rgb(255, 255, 255);
    font-size:45px;
}
.block {
    background-color:rgb(59, 59, 59);
    height:50px;
    width:50px;
    border-radius:5px;
}
.bgHTML {
    background-color:rgb(175, 175, 175);
    border-radius:5px;
    align-content:center;
    width:fit-content;
    margin:auto;
    margin-bottom:20px;
}
.table {
    background-color:rgb(175, 175, 175);
    border-radius:5px;
    align-content:center;
    width:fit-content;
    margin:auto;
    margin-bottom:20px;
}
.page {
    text-align:center;
    width:100%;
    align-content:center;
}
.checkbutton {
    background-color:rgb(175, 175, 175);
    border-radius:5px;
    margin:10px;
    height:50px;
    width:155px;
    font-size:30px;
}
.title {
    margin-left:10px;
    align-content:center; 
}